<h2>Welcome to your zoo manager</h2>
<a href='/zoos/new'>Create a new zoo</a>
<h3>Zoos:</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Animals</th>
      <th></th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each zoo}}
    <tr>
      <td><a href="/zoos/{{id}}">{{name}}</a></td>
      <td>{{location}}</td>
      <td><a href='/zoos/{{id}}/animals/index'>Zoo's animals</a></td>
      <td><a href='/zoos/{{id}}/edit'>edit</a></td>
      <td><form action='/zoos/{{id}}/?_method=delete' method='POST'><button>x</button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>
